@import '../../placeholders';
@import '../../vars';

.title {
    border-bottom: 4px solid var(--theme-color-3);
    color: var(--theme-color-3);
    display: inline-block;
    margin: 0 0 $base-spacing-large 0;
    padding-bottom: $base-spacing-medium;
}
