@import '../../vars';
@import '../../placeholders';

.header {
    $logo-width: 64px;
    $color-navigation-item: #fff;
    $color-active-navigation-item: var(--theme-color-2);

    @extend %df-aic-jsb;

    height: $header-height;
    background: var(--theme-color-1);
    padding: 0 $side-padding-desktop;

    @media #{$breakpoint-mobile} {
        padding: 0 $side-padding-mobile;
    }

    &-logo {
        width: $logo-width;

        &-image {
            height: $header-height - 30px;
        }
    }

    &-navigation {
        padding-left: $base-spacing-small;

        &-link {
            color: $color-navigation-item;
            font-weight: 600;
            font-size: $font-size-3;
            text-decoration: none;
            margin-left: $base-spacing-medium;

            &:visited {
                color: $color-navigation-item;
            }

            &.active, &:hover {
                color: $color-active-navigation-item;
            }
        }
    }
}


.active {
    font-weight: bold;
}
