// General

$font-family-1: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
$font-family-2: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;

$side-padding-desktop: 12vw;

$base-spacing-small: 8px;
$base-spacing-medium: 12px;

$font-size-1: 14px;


// Components

$header-height: 80px;
