@import-normalize; 
@import './vars';

// Theme

:root {
  --color-bg-1: #fefefe;

  --theme-color-1: #0D1A6C;
  --theme-color-2: #EEF100;

  --menu-opener-bg: #0971C3; 
  --menu-opener-icon: #fff; 
  
  --menu-overlay-bg: rgba(30, 30, 30, .4);

  --swiper-bullet-active: #0971C3;
  --swiper-bullet-inactive: rgba(255, 255, 255, 1);

  --action-link-color-1: #fff;
  --action-link-color-2: #EEF100;;
}

// Global Style

body {
  margin: 0;
  font-family: $font-family-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, & *, & * * {
    box-sizing: border-box;
  }
}

.container {
  min-height: calc(var(--window-height) - #{$header-height + $footer-height})
}
