@import-normalize; 
@import './vars';

// Theme

:root {
  --color-bg-1: #fefefe;

  --theme-color-1: #0D1A6C;
  --theme-color-2: #EEF100;
}

// Global Style

body {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
